var/
mpv/watch_later/
watch_later/
watch_later
straight/
etc/
elpa/
packages/
cask/
.emacs.d/%back*
.emacs.d/.last*
NERDTree/
plugged/
error.log
autoconfig.yml
QtProject.conf
qsettings/QtProject.conf
log.txt
oldconfig.py
__pycache__/
