/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
} */

html,body {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility classes*/
.left-info {
    background-color: #ff3c00;
}

header {
    color: #fffae2;
}